@import url("https://use.typekit.net/oem5whj.css");

.main-container {
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
}

.recipeTitle {
    margin-left: 90px;
    margin-top: 90px;
    font-family: "limon-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

svg {
    padding-top: 5px;
}

body{
    margin: 25px 70px 0px 70px;
}

input[type="text"] {
    border-radius: 5px;
    border-width: .5px;
    width: 250px;
    margin-left: 50px;
}

.category {
    text-align: center;
    width: 250px;
    border-radius: 5px;
    border-width: .5px;
}

textarea {
    border-radius: 10px;
    border-width: .5px;
    width: 250px;
}

form label {
    display: inline-block;
    width: 25%;
    /* margin-bottom: 15px; */
    text-align: left;
    width: 25%; 
    margin: 0px 0px 15px 0px;
}

form input, form select, form textarea {
    margin-left: 50px;
    /* float: right; */
    width: 250px;

}

.recipeForm {
    position: absolute;
    width: 427px;
    margin-left: 60px;
    /* margin-right: 60px; */
}

button.saveGroup, button.save {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
}

.rightBTN {
    float: right;
}

.saveGroup {
  margin-bottom: 200px;
}

.alignRight {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

form .ingredient-group, form .direction-group {
    display: flex;
    flex-direction: column;
}