.spacing {
    margin-left: 90px;
}

.listSpace {
    margin-left: 250px;
}
.inputSpace {
    margin-left: 200px;
}

.inputSection {
    margin-left: 250px;
}

.SaveBtn {
    margin-left: 400px;
}

.addBTN {
    margin-top: 10px;
    margin-left: 510px;
}

.RemoveBTN {
    margin-bottom: 10px;
}