@import url("https://use.typekit.net/oem5whj.css");

h1 {
    margin-left: 90px;
    margin-top: 90px;
    font-family: "limon-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Discover {
    margin-left: 30px;
    margin-right: 50px;
    font-weight: 100;
}

.currentLocation {
    position: fixed;
    bottom:110px;
    right: 130px;
    z-index: 1000;
    background-color: #db8a3825;
    padding: 10px 30px;
    border-radius: 65px;
    line-height: .5;
  }
  
  .align {
    display: inline-block;
    margin-left: 10px;
  }