@import url("https://use.typekit.net/oem5whj.css");

.searchBar {
    float: right;
    margin-right: 45px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* margin-right: 5%; */
}

.login {
    float: right;
    margin-right: 5%;
    margin-top: 30px;
}

.login:hover {
    transform: scale(1.1);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.navLogin {
    padding-left: 10%;
    font-family: "gelica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navContent {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: flex-start; /* Aligns items to the left */
    gap: 10px; /* Adds space between links */
}

/* Grouping search bar and logo together */
.searchAndLogo {
    display: flex;
    align-items: center; /* Vertically center the items */
    gap: 10px; /* Adds space between search bar and logo */
}

/* Search bar style */
.searchBar {
    flex: 1; /* Make the search bar take the remaining space */
}